@import '~@angular/material/theming';

@mixin dateo-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .dateo-panel header {
    background-color: mat-color($primary, 400);
    color: mat-contrast($primary, 400);
  }

}
