<nav class="otc-navbar">
  <button md-icon-button (click)="toggleSidenav();">
    <i class="material-icons">menu</i>
  </button>
  <a routerLink="/" aria-label="Ocupa tu calle" style="margin-right: 10px;">
    <img src="../../assets/img/logo_otc.png" width="155" />
  </a>
  <a md-button class="otc-button" (click)="goToNosotros()">Nosotros</a>
  <a md-button class="otc-button" href="https://otc.typeform.com/to/m7wEiq" target="_blank">La red</a>
  <a md-button class="otc-button" href="https://otc.typeform.com/to/ERZC64" target="_blank">Mejoras</a>
  <!-- <a md-button class="otc-button" routerLink="/">Proyectos</a>
  <a md-button class="otc-button" routerLink="/">Medios</a> -->

  <span fxFlex></span>

  <button md-button color="" class="uppercase" (click)="openLoginFormDialog()"  *ngIf="!isLoggedIn">Ingresar</button>

  <div *ngIf="isLoggedIn">
    <md-menu #userMenu="mdMenu" yPosition="below" [overlapTrigger]="false">
      <!-- <button md-menu-item> Settings </button> -->
      <button md-menu-item (click)="logout()">Salir</button>
    </md-menu>

    <span>{{ username }}</span>
    <button md-icon-button [mdMenuTriggerFor]="userMenu">
      <i class="material-icons">more_vert</i>
    </button>
  </div>
</nav>
