.otc-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  /* background: #E5E2DE; */

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.otc-navbar a {
  text-transform: uppercase;
}

.otc-angular-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.otc-github-logo {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}
