<div style="width: 280px;">
  <h1 md-dialog-title>Inicia sesión</h1>

  <form #form="ngForm" (ngSubmit)="login(form.value)" ngNativeValidate class="font-14">
    <div fxLayout="column" fxLayoutGap="10px">
      <md-input-container>
        <input type="email" mdInput ngModel name="email" placeholder="Email" required/>
      </md-input-container>

      <md-input-container>
        <input type="password" mdInput ngModel name="password" placeholder="Contraseña" required/>
      </md-input-container>
    </div>

    <md-dialog-actions fxLayout="column">
      <div *ngIf="error" class="warn-color-700">{{ error }}</div>
      <button [disabled]="loading" class="uppercase" md-raised-button color="primary">Ingresa</button>
    </md-dialog-actions>
    <a href="" class="primary-color-700" style="text-decoration: none;" (click)="openSignUpDialog(); false">Crearme una cuenta</a>
  </form>
</div>
