<md-sidenav-container fxFlex>
  <md-sidenav #leftSidenav id="leftSidenav" mode="side" fxLayout="column" [class.mat-elevation-z6]="true">
    <div style="margin: 15px 10px 30px;" fxLayout="column">
      <h2 class="font-16 bold uppercase">Datea y crea proyectos</h2>
      <md-input-container fxFlex>
        <md-placeholder>
          Busca una dirección
        </md-placeholder>
        <input #mapsSearch id="mapsSearch" fxFlex mdInput type="search" [formControl]="mapsSearchControl">
        <!--<input #mapsSearch fxFlex mdInput type="search" [formControl]="mapsSearchControl" [mdAutocomplete]="auto" value="Calle Chinchón 555">
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </md-option>
        </md-autocomplete> -->
      </md-input-container>
    </div>

    <md-divider></md-divider>

    <md-nav-list dense style="padding-left: 10px; padding-right: 10px;">
      <!-- <h2 class="font-16 bold uppercase">Oportunidades</h2>
      <a md-list-item href="">Convocatoria de voluntarios</a>
      <a md-list-item href="">Donación de materiales</a>
      <md-divider></md-divider> -->
      <h3 class="font-16 bold uppercase">Vista de proyectos</h3>
      <md-list-item (click)="showAll()">
        <a md-line class="font-14" style="margin-left: 5px;">Todos</a>
      </md-list-item>
      <md-list-item (click)="showOccupied()">
        <a md-line class="font-14" style="margin-left: 5px;">Ocupados</a>
        <md-icon class="material-icons">{{ watchOcuppied ? 'remove_red_eye' : ''  }}</md-icon>
      </md-list-item>
      <md-list-item (click)="showToBeOccupied()">
        <a md-line class="font-14" style="margin-left: 5px;">Por ocupar</a>
        <md-icon class="material-icons">{{ watchToBeOccupied ? 'remove_red_eye' : '' }}</md-icon>
      </md-list-item>
      <md-list-item (click)="showInConflict()">
        <a md-line class="font-14" style="margin-left: 5px;"> En conflicto</a>
        <md-icon class="material-icons">{{ watchInConflict ? 'remove_red_eye' : '' }}</md-icon>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div class="content" fxLayout='row' fxLayout.lt-sm="column">

    <agm-map fxFlex fxFlex.lt-sm="100" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="loadMapAPIs($event)">

      <agm-marker  *ngFor="let item of dateos"
                   (markerClick)="clickedDateoMarker(item)"
                   [latitude]="item.latitude | toNumber"
                   [longitude]="item.longitude | toNumber"
                   iconUrl="../../../../assets/img/dateo-icon.svg">
      </agm-marker>

      <agm-marker  *ngFor="let item of projects"
                   (markerClick)="clickedProjectMarker(item)"
                   [latitude]="item.latitude | toNumber"
                   [longitude]="item.longitude | toNumber"
                   iconUrl="../../../../assets/img/punto-ocupado.svg">
      </agm-marker>

      <agm-marker *ngIf="markerUser" [latitude]="markerUser.lat" [longitude]="markerUser.lng" [markerDraggable]="true" (dragEnd)="markerUserDragEnd($event)" iconUrl="../../../../assets/img/user-position-marker.svg">
        <agm-info-window #userInfoWindow [isOpen]="true">
          <div class="card-general-info-window">
            <div fxLayout="row">
              <div fxFlex fxLayout="column" fxLayoutAlign="start center" style="padding: 5px;">
                <p class="centered font-14">Si quieres pasar la voz de algún lugar que se podría intervenir</p>
                <span fxFlex></span>
                <button md-button md-raised-button color="primary" (click)="openAddOcupaDialog()">Ocupa</button>
              </div>
              <md-divider></md-divider>
              <div fxFlex fxLayout="column" fxLayoutAlign="start center" style="padding: 5px;">
                <p class="centered font-14">Si quieres empezar un proyecto aquí</p>
                <span fxFlex></span>
                <button md-button md-raised-button color="primary" (click)="openAddProjectDialog()">Crea un proyecto</button>
              </div>
            </div>
          </div>
        </agm-info-window>
      </agm-marker>

      <!-- Displays the user current position -->
      <!-- <agm-marker *ngIf="markerCurrentPosition" [latitude]="markerCurrentPosition.lat" [longitude]="markerCurrentPosition.lng" iconUrl="../../../../assets/img/user-position-marker.svg"></agm-marker> -->
    </agm-map>

    <div fxFlex="30" fxFlex.lt-sm="100" [hidden]="!isInfoPanelVisible" class="mat-elevation-z5" style="z-index: 999; overflow-y: auto; max-height: 100%;">
      <router-outlet></router-outlet>
    </div>

  </div>

  <!--
  <md-sidenav #rightSidenav id="rightSidenav" align="end" mode="side" opened fxHide.lt-md="true">
    <md-nav-list dense>
      <md-list-item [disableRipple]="true">
        <img md-list-avatar src="https://scontent.flim2-1.fna.fbcdn.net/v/t1.0-9/18739823_10154332820397820_1443666394431212880_n.jpg?oh=569c42161eeea5493f3c62ed8d80abfc&oe=59D6E032" alt="...">
        <h3 md-line>A <strong>Michael</strong> le gustó <span class="text-style-1">Parques musicales</span></h3>
        <p md-line>
          <span>una idea de </span>
          <span>Miniparques</span>
        </p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item [disableRipple]="true">
        <img md-list-avatar src="https://www.bellazon.com/main/uploads/monthly_2016_10/Grimes-3.jpgi.jpg.936d0553cb6fbe365bb31b5b32193d11.jpg" alt="...">
        <h3 md-line>A <strong>Claire Boucher</strong> le gustó <span class="text-style-1">Parques musicales</span></h3>
        <p md-line>
          <span>una idea de </span>
          <span>Miniparques</span>
        </p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item [disableRipple]="true">
        <img md-list-avatar src="https://yt3.ggpht.com/-V92UP8yaNyQ/AAAAAAAAAAI/AAAAAAAAAAA/zOYDMx8Qk3c/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="...">
        <h3 md-line>A <strong>Grumpy C.</strong> le gustó <span class="text-style-1">Parques musicales</span></h3>
        <p md-line>
          <span>una idea de </span>
          <span>Miniparques</span>
        </p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item [disableRipple]="true">
        <img md-list-avatar src="https://yt3.ggpht.com/-V92UP8yaNyQ/AAAAAAAAAAI/AAAAAAAAAAA/zOYDMx8Qk3c/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="...">
        <h3 md-line>A <strong>Grumpy Cat Grumpy Grumpy</strong> le gustó <span class="text-style-1">Parques musicales</span></h3>
        <p md-line>
          <span>una idea de </span>
          <span>Peatonalización temporal</span>
        </p>
      </md-list-item>
    </md-nav-list>
  </md-sidenav> -->
</md-sidenav-container>
