@import '~@angular/material/theming';
@import 'app-theme';
@import 'app/navbar/navbar-theme';
@import 'app/pages/homepage/homepage-theme';
@import 'app/dateo/dateo-theme';
@import 'app/project/project-theme';

@include mat-core();

$primaryRed: mat-palette($mat-red, 500);
$accentRed:  mat-palette($mat-light-blue, 600, A200, A700);
$warnRed:    mat-palette($mat-red, 600);
$background: mat-palette($mat-light-blue, 600);
$foreground: mat-palette($mat-grey, 600, 500, 700);

$redTheme: mat-light-theme($primaryRed, $accentRed, $warnRed);
$blueTheme: mat-light-theme($accentRed, $primaryRed, $warnRed);

/* Neutral theme */
$primaryNeutral: mat-palette($mat-brown);
$accentNeutral:  mat-palette($mat-light-blue);
$warnNeutral:    mat-palette($mat-red, 600);

$neutralTheme: mat-light-theme($primaryNeutral, $accentNeutral, $warnNeutral);

/* Green theme */
$primaryGreen: mat-palette($mat-light-green);
$accentGreen:  mat-palette($mat-light-blue);
$warnGreen:    mat-palette($mat-red, 600);

$greenTheme: mat-light-theme($primaryGreen, $accentGreen, $warnGreen);

@include angular-material-theme($blueTheme);
@include app-root-theme($blueTheme);
@include navbar-theme($redTheme);
@include homepage-theme($blueTheme);
@include project-theme($redTheme);
@include dateo-theme($greenTheme);
