<article fxFlex dense>

  <header class="uppercase">
    Nosotros
  </header>

  <div class="body-container" fxLayout="column" style="padding: 15px;">

    <div fxFlex class="font-14">
      <p>
        <i>Ocupa Tu Calle</i> es una estrategia promovida por el observatorio ciudadano <i>Lima Cómo Vamos</i> y apoyado
        por la fundación AVINA que busca intervenir la ciudad generando más y mejores espacios públicos que los ciudadanos
        puedan disfrutar.
      </p>
    </div>

    <div fxFlex style="margin-top: 10px;">
      <img src="../../../../assets/img/manhattan-park.jpg" class="responsive-img" />
    </div>

    <div fxFlex class="font-14" style="margin-top: 20px;">
      <p>
        A través de intervenciones urbanas localizadas, <i>Ocupa Tu Calle</i> propicia la recuperación de espacios de la ciudad
        en desuso, mejora las condiciones de los espacios existentes y genera nuevos lugare públicos. Así, a través de la implementación
        de parklets, ciclovías pilotos, cicloparqueaderos, cierres temporales de calles y avenidas u otras intervenciones, no sólo se
        logra una mejor ciudad sino que se propician las relaciones entre ciudadanos y el bienestar de la comunidad.
      </p>
    </div>

    <div fxLayout="row" style="margin-top: 20px;">
      <div fxFlex style="padding: 15px;">
        <img src="../../../../assets/img/punto-morado.png" class="responsive-img" />
      </div>
      <div fxFlex style="padding: 15px;">
        <img src="../../../../assets/img/punto-naranja.png" class="responsive-img" />
      </div>
      <div fxFlex style="padding: 15px;">
        <img src="../../../../assets/img/punto-verde.png" class="responsive-img" />
      </div>
      <div fxFlex style="padding: 15px;">
        <img src="../../../../assets/img/punto-morado.png" class="responsive-img" />
      </div>
      <div fxFlex style="padding: 15px;">
        <img src="../../../../assets/img/punto-naranja.png" class="responsive-img" />
      </div>
    </div>

    <div style="margin-top: 35px;">
      <div class="uppercase">El equipo</div>
      <div fxLayout="row">
          <div fxFlex style="padding: 15px;">
            <img src="https://artdesigncarta.com/assets/vendor-ff46f148925e3ded8c233d4c3e8069d0.png" class="responsive-img" />
            Nombre y Apellido
          </div>
        <div fxFlex style="padding: 15px;">
          <img src="https://artdesigncarta.com/assets/vendor-ff46f148925e3ded8c233d4c3e8069d0.png" class="responsive-img" />
          Nombre y Apellido
        </div>
        <div fxFlex style="padding: 15px;">
          <img src="https://artdesigncarta.com/assets/vendor-ff46f148925e3ded8c233d4c3e8069d0.png" class="responsive-img" />
          Nombre y Apellido
        </div>
      </div>
    </div>
  </div>

</article>
